* {
    font: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    border: 0;
}

html {
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
}

body {
    position: relative;
    max-width: 1100px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-align: left;
    color: black;
    background-color: #fff;
    background-image: none;
}

a {
    text-decoration: none;
    color: white;
    outline: none;
}

a img {
    border: none;
}

.top-navigation {
    margin-top: 7px;
    position: relative;
    color: #fff;
}

#logo {
    display: inline-block;
    margin: 8px 0 4px 6px;
    min-width: 206px;
    height: 56px;
}

.logo_and_ancillary_navigation_section a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
}

.comixology-logo {
    background-image: url('/theme/Ubooquity-logo_1_comic_ebook.png'), none;
    background-repeat: no-repeat;
    background-size: 206px 45px;
}

.flat-nav .ancillary_navigation_section {
    font-size: 12px;
    margin-top: 21px;
    color: #9b9b9b;
}

.ancillary_navigation_section {
    font-size: 11px;
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 3px;
    text-decoration: none;
    color: #666;
}

.flat-nav .ancillary_navigation_section .shopping_cart_frame {
    margin-top: 2px;
    color: #9b9b9b;
    border: 0 none;
    background: none;
}

.flat-nav .shopping_cart_frame {
    width: 90px;
}

.flat-nav .topright-menu label, .flat-nav .topright-menu a, .flat-nav .empty_cart {
    color: #9b9b9b;
}

.flat-nav .ancillary_navigation_section .non_shopping_cart_frame {
    margin-right: 84px;
}

.non_shopping_cart_frame {
    float: right;
    height: auto;
    margin: 0 130px 0 0;
    padding: 0 0 3px 3px;
    text-align: center;
    letter-spacing: 1px;
}

.non_shopping_cart {
    position: relative;
    padding: 6px 11px;
}

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flat-nav .topright-menu > li, .flat-nav .topright-menu > li:nth-child(1) {
    border-right: 1px #e5e5e5 solid;
}

.topright-menu > li {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000;
}

.sf-menu > li {
    float: left;
}

.sf-menu li {
    position: relative;
}

.topright-menu > li:last-child {
    margin-right: -90px;
    border: 0;
}

.flat-nav .primary_navigation_frame {
    padding: 0;
    border: 0 none;
}

.flat-nav .primary_navigation_frame, .flat-nav .primary_navigation_canvas {
    background: #353535;
}

.primary_navigation_frame {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
    border: 2px solid #949494;
    background: linear-gradient(to bottom,#639fd 10%,#629fcb 2%,#5f9fcf 4%,#5c9acb 24%,#3c7aad 91%,#3e78b79 3%,#3e74b2 96%,#3b77b5 98%,#3774b3 100%);
    background-color: #fdfdfd;
}

.primary_navigation_canvas {
    background: linear-gradient(tobottom,#464a4 90%,#494d5 63%,#4b505 37%,#45494c 21%,#3e4245 31%,#27282c 59%,#222325 62%,#07080a 90%,#05040a 93%,#020703 97%,#0c0c0c 100%);
}

.flat-nav .main-menu {
    height: 38px;
}

.main-menu {
    float: left;
    cursor: pointer;
}

.flat-nav .main-menu li.sel {
    background: #000 none;
}

.flat-nav .main-menu li {
    max-width: 202px;
    padding-top: 0;
    color: #fff;
}

.flat-nav .main-menu > li {
    height: 30px;
    padding-top: 8px;
    margin-top: 0;
}

.main-menu > li:first-child {
    padding-left: 1px;
}

.main-menu > li {
    line-height: 21px;
    height: 24px;
    margin-top: 1px;
    border-right: 1px solid #000;
}

.flat-nav .main-menu > li#menuitem_home a {
    display: block;
    height: 25px;
    margin-top: -7px;
}

.flat-nav .main-menu > li > a {
    font-size: 12px;
    min-width: 15px;
    padding: 7px 20px 6px;
    letter-spacing: .05em;
    color: #fff;
}

.main-menu > li > a {
    font-size: 11px;
    font-weight: 700;
    overflow: hidden;
    min-width: 32px;
    max-width: 200px;
    padding: 0 12px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #fff;
}

.main-menu a {
    font-size: 13px;
    margin: 0;
    padding: 8px;
    text-decoration: none;
}

.main-menu .icon {
    width: 15px;
    height: 18px;
}

.primary_navigation_canvas form {
    display: block;
    float: right;
    margin: 2.5px 5px 0 0;
}

.flat-nav .primary_navigation_canvas input.search {
    width: 396px;
    height: 31px;
    margin: 1px 3px 0 0;
    padding: 9px 5px 8px 37px;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-image: url('/theme/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-size: 16px;
}

.primary_navigation_canvas input.search {
    font-size: 12px;
    font-weight: initial;
    margin: 0 3px 0 0;
    padding: 2px 5px 2px 20px;
    text-align: left;
}

input[type=text], input[type=email], input[type=search], input[type=password], select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
}

input[type=text], input[type=email], input[type=search], input[type=password], select, textarea {
    margin-top: 2px;
    padding: 3px 8px;
    color: #444;
    border: 1px solid #c6c6c6;
    background-color: #fff;
}

.clear {
    clear: both;
}

.flat-nav .main-menu li:hover, .nondesktop .flat-nav .main-menu > li:active {
    background: #2d2d2d;
}

.main-menu li:hover {
    -moz-transition: none;
    background: linear-gradient(top,#666 0%,#444 51%);
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
    display: block;
}

.flat-nav .main-menu ul {
    width: 150px;
    background: #2d2d2d;
}

.topright-menu ul, .main-menu ul {
    width: 102px;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.4);
    box-shadow: 3px 3px 5px rgba(0,0,0,.4);
}

.sf-menu ul {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    display: none;
}

.flat-nav .main-menu li ul li:hover {
    background: #388bb5;
}

.flat-nav .main-menu li ul li {
    padding: 0 0 0 10px;
}

.flat-nav .main-menu li ul li a {
    display: block;
}

.flat-nav .topright-menu a:hover {
    text-decoration: none;
    color: #388bb5;
}

.topright-menu a:hover {
    text-decoration: underline;
    color: #48719c;
}

.flat-nav .topright-menu a {
    padding: 4px 15px;
}

.topright-menu > li > a {
    padding: 0 6px;
}

.topright-menu {
    display: block;
}

.non_shopping_cart li a {
    display: inline-block;
}

.topright-menu li a {
    line-height: 18px;
}

.topright-menu label, .topright-menu a {
    color: #444;
}

.flat-nav #menuitem_logout > ul {
    top: 26px;
}

#menuitem_logout ul {
    text-align: left;
}

#menuitem_logout > ul {
    top: 18px;
}

.flat-nav .topright-menu ul {
    background-color: #fff;
}

.topright-menu ul {
    padding: 5px;
    border: 1px solid #ccc;
}

.flat-nav .topright-menu .dropdown {
    position: relative;
    display: block;
    padding-right: 28px;
}

.flat-nav .topright-menu .dropdown:after {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 10px;
    height: 10px;
    content: '';
    background: url('/theme/username-chevron.png') no-repeat;
    background-size: 100%;
}

.flat-nav #menuitem_browse .dropdown {
    padding: 7px 40px 8px 20px;
    background-position: 86px 9px;
}
.contentLang_fr.nondesktop .flat-nav .main-menu .dropdown, .flat-nav .main-menu .dropdown {
    padding: 0 40px 0 20px;
    background-image: url('/theme/browse-chevron.png');
    background-repeat: no-repeat;
    background-size: 12px;
}

.main-menu li ul li a {
    line-height: 40px;
    padding: 0 8px;
    color: #fff;
}

#cmx_breadcrumb {
    font-size: 12px;
    left: 0;
    padding: 15px 4px;
    color: #000;
}

.hinline, #cmx_breadcrumb a {
    font-size: 12px;
    font-weight: 500;
    display: inline;
    text-decoration: none;
    color: #000;
}

#cmx_breadcrumb a:hover {
    text-decoration: underline;
}

.loginLink {
    font-weight: 500;
}

.fixToTop {
    position: fixed;
    z-index: 6;
    top: 0;
    max-width: 1100px;
    margin-top: 0;
    box-shadow: 0 0 13px rgba(0,0,0,.5);
}

.fixToTop .primary_navigation_canvas {
    margin-top: 0;
}

.hidden {
    display: none !important;
}

.currentpagenumber {
    font-weight: 700;
    background-color: #eee;
}

.pager .pager-link:not(.currentpagenumber) {
    background-color: #ccc;
}

.pager .pager-link {
    display: block;
    padding: 10px;
    float: left;
    margin-right: 9px;
    margin-left: 0;
    text-align: center;
    color: black;
    border: 1px solid #bbb;
}

.pager .pager-link:not(.currentpagenumber):hover {
    text-decoration: underline;
    background-color: #eee;
}

.bookmarks .pager {
    width: calc(100% - 17px);
}

.pager {
    width: calc(100% - 14px);
    margin: 0 7px;
    margin-bottom: 16px;
}

.pager-text {
    font-family: helvetica,arial,sans-serif;
    z-index: 5;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    float: right;
    margin-top: 12px;
}

.imprintNav {
    margin-bottom: 16px;
}

.imprintNav ul {
    font-size: 12px;
    display: table;
    width: auto;
    height: 34px;
    margin: 0 auto;
    list-style-type: none;
    color: #333;
}

.imprintNav ul li {
    float: left;
    width: inherit;
    text-align: center;
}

.imprintNav ul li a {
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: #333;
    border: 1px solid #949494;
    background: -webkit-linear-gradient(top, white 0%,#e0e0e0 100%);
}

.imprintNav ul li a:hover {
    background: -webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(white));
    background: linear-gradient(top,#e0e0e0 0,#fff 100%);
}

.imprintNav ul li a.active {
    cursor: default;
    pointer-events: none;
    background: -webkit-linear-gradient(top, #e0e0e0 0%,white 100%);
}

#group, #series, #storyarc {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding: 28px 38px 0;
    border: 1px solid #989898;
    background-color: white;
    flex-wrap: wrap;
    align-items: baseline;
}

.searchPage, #series, #storyarc{
    background-color: #ededed !important;
}

.cellcontainer {
    position: relative;
    top: 0;
    display: inline-block;
    margin-bottom: 20px;
    align-self: baseline;
}

.cellcontainer:hover .label {
    text-decoration: underline;
}

.cell {
    position: relative;
    bottom: 0;
    float: bottom;
    width: 156px;
    margin: 7px;
    margin-bottom: 15px;
}

.thumb img {
    position: relative;
    z-index: 2;
    bottom: 0;
    left: .5px;
    width: 156px;
}

.numberblock, .number {
    display: none;
}

#menuitem_new .dropdown {
    background-position: 60px 2px;
}

footer {
    left: 0;
    overflow-x: hidden;
    width: 100%;
}

footer a {
    text-decoration: underline;
    color: #666;
}

.footer_navigation_column {
    display: table-cell;
    min-width: 150px;
    padding: 0 20px 20px 27px;
    border-left: 1px solid #ccc;
    background: none;
}

.footer_navigation_column.first {
    border-left: 0;
}

.footer_navigation_column a:link {
    font-weight: normal;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
    -webkit-transition-duration: .2s, .2s;
       -moz-transition-duration: .2s, .2s;
        -ms-transition-duration: .2s, .2s;
    text-decoration: none;
    color: #828282;
}

#footer_navigation {
    color: #666;
    border: 1px solid #989898;
}

#footer_navigation ul {
    padding: 0;
}

#footer_navigation h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 28px;
    white-space: nowrap;
    color: #000;
}

#footer_navigation li, #footer_navigation label, #footer_navigation select {
    font-size: 10px;
    display: block;
    margin-top: 10px;
    padding: 0;
    white-space: nowrap;
    text-transform: uppercase;
    color: #818181;
}

#legal_notices {
    font-size: 9px;
    padding: 12px 10px 30px;
}

#copyright_notice {
    margin-bottom: 5px;
}

#footer_navigation label, #footer_navigation select {
    display: inline-block;
}

#footerSettings {
    margin-top: -20px;
}

#footerSettings label {
    margin-right: 15px;
}

#footerSettings select {
    margin-left: 5px;
}

#footerSettings select[name="themeSelector"]  {
    display: none;
}

.publisherPage {
    margin-top: 10px !important;
    padding-top: 0 !important;
    border: 0 !important;
    align-items: flex-start !important;
}

.publisherPage #cmx_breadcrumb {
    font-size: 11px;
    position: relative;
    top: 0;
    float: left;
    clear: both;
    height: 24px;
    margin: 0;
    margin-bottom: 17px;
    padding: 12px 20px 0 22px;
    text-decoration: none;
    color: #333;
    background: 0 0;
    background-color: #fff;
}

.publisherPage #cmx_breadcrumb a, .publisherPage .hinline {
    font-size: 11px;
}

.list-container.slider-list {
    background-color: #ededed;
}

.slider-list.list-container {
    margin-bottom: 10px;
}

.list-container {
    position: relative;
    width: 832px;
    margin-bottom: 10px;
    transform: translate(0, 0);
    color: #666;
    border: 1px solid #989898;
}

.list-container header {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 43px 5px;
    table-layout: fixed;
    text-align: left;
}

.list-container .header-row {
    display: table-row;
}

.list-container .header-row a {
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
}

.list-title {
    font-size: 19px;
    font-weight: 500;
    display: table-cell;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.list-container .cellcontainer .content-title {
    font-size: 15px;
    height: 17px;
}

.cellcontainer .label {
    font-size: 14px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-container:not(#recommendations) .list-title:hover, .list-actions > li a:hover {
    text-decoration: underline;
}

#recommendations .header-row-title-link {
    pointer-events: none;
}

.list-actions {
    display: inline-block;
    float: right;
    margin-top: 3px;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}

.list-actions > li {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}

.header-row-view-all-link {
    color: #666;
}

.slider-list .list-content {
    display: block;
    overflow: hidden;
    margin: 0 36px 5px;
    text-align: left;
    white-space: nowrap;
}

.list-content .cell, .list-container .thumb img {
    width: 136px;
}

.list-content .cell a {
    cursor: pointer;
}

.list-content .cellcontainer {
    position: relative;
    margin-bottom: 0;
}

.list-content .label {
    font-size: 12px;
    position: fixed;
    z-index: 5;
    display: none;
    overflow: visible;
    width: 156px;
    margin-top: -10px;
    margin-left: -20px;
    padding: 10px;
    text-align: left;
    text-decoration: none !important;
    border: 1px solid #d1d3d4;
    background: #fff;
    -webkit-box-shadow: 0 0 13px rgba(0,0,0,.5);
    box-shadow: 0 0 13px rgba(0,0,0,.5);
}

.list-content .label .title {
    display: none;
}

.list-content .label:before, .list-content .label:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
}

.list-content .label:before {
    margin-left: -16px;
    border-width: 16px;
    border-color: transparent;
    border-bottom-color: #888;
}

.list-content .label:after {
    margin-left: -15px;
    border-width: 15px;
    border-color: rgba(255,255,255,0);
    border-bottom-color: #fff;
}

.list-content .label .title-container {
    font-size: 12px;
    display: block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #666;
}

.list-content .label .title-container:hover {
    color: #fff;
    background-color: #518cc9;
}

.list-content .label .read-button .title-container {
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    border: 1px solid #3062a1;
    background: #7ec9b5;
    background: -webkit-gradient(linear,left top,left bottom,from(#7ec9b5),color-stop(8%,#03a77e),to(#388064));
    background: linear-gradient(to bottom,#7ec9b5 0,#03a77e 8%,#388064 100%);
}

.list-content .label .read-button .title-container:hover {
    background: #70b29f;
    background: -webkit-gradient(linear,left top,left bottom,from(#70b29f),color-stop(8%,#04996e),to(#2d664e));
    background: linear-gradient(to bottom,#70b29f 0,#04996e 8%,#2d664e 100%);
}

.list-content .cell {
    margin: 8px;
}

.standard_section {
    width: 254px;
    margin-bottom: 8px;
    border: 1px solid #989898;
    background-color: #ededed;
}

.standard_section_header {
    line-height: 8px;
    padding-left: 10px;
    color: #fff;
    background: -webkit-linear-gradient(top, #7a7c80 0%,#505050 100%);
    background-color: #717274;
}

.sidebar-list {
    width: 253px;
    padding: 0;
    text-transform: capitalize;
    background-color: #ededed;
}

.standard_section_header h3 {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.sidebar-list li a {
    line-height: 26px;
    display: block;
    overflow: hidden;
    height: 26px;
    padding: 5px 10px;
    text-decoration: none;
    text-overflow: ellipsis;
}

.sidebar-list a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(102, 102, 102);
}

.sidebar-list li:hover a {
    color: #fff;
}

.sidebar-list li:hover {
    color: #fff;
    background-color: #393939;
}

.sidebar-list li {
    width: 255px;
    color: #666;
}

.sidebar-list li {
    overflow: hidden;
    list-style-type: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slide-next {
    right: 0;
    background-image: url(/theme/arrow-right.png);
}

.slide-previous {
    left: 0;
    background-image: url(/theme/arrow-left.png);
}

.slide-control {
    position: absolute;
    top: 0;
    width: 43px;
    height: 100%;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-control:focus {
    outline: none;
}

.homeRightCol .sidebar-image-container {
    width: 256px;
    max-width: 256px;
    margin: 10px 0;
}

.homeRightCol {
    float: right;
    width: 256px;
}

.main_homepage_content {
    float: left;
    width: 834px;
    text-align: center;
}

.content_body_frame, .content_body {
    min-height: 0;
}

.content_body_frame {
    min-height: 650px;
    border: none;
    background: none;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.slider-list.list-container footer {
    height: 23px;
    margin-bottom: 15px;
    text-align: center;
}

.pager-links {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.slider-list .pager-link.selected {
    background-image: url(nav_bullet_selected.png);
}

.pager-link.selected {
    font-weight: bold;
    cursor: default !important;
}

.slider-list .pager-link {
    width: 11px;
    height: 10px;
    padding: 5px;
    background-image: url(nav_bullet_unselected.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slider-list .pager-link:hover {
    cursor: pointer;
}

.pager-links, .pager-links > li, .pager-text {
    display: inline-block;
}

.banner-container {
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}

.banner-container img {
    width: 834px;
}

.sidebar-banner img {
    width: 256px;
}

#group header, #featured header, #series header, #storyarc header {
    display: table;
    box-sizing: border-box;
    width: 100%;
    margin-top: -28px;
    margin-left: -38px;
    padding: 15px 43px 5px;
    table-layout: fixed;
    text-align: left;
}

#group .list-title:hover, #featured .list-title:hover {
    text-decoration: none;
}

#featured {
    margin: 13px 0;
    padding: 28px 38px 10px;
    color: #666;
    border: 1px solid #989898;
}

#publishers {
    position: relative;
    max-width: 100%;
}

#folderinfo {
    min-width: calc(100% + 76px);
    max-width: 1100px;
    margin-right: -38px;
    margin-left: -38px;
}

#publisherHeader {
    font-family: Open Sans;
    font-weight: 700;
    font-stretch: ultra-condensed;
    position: relative;
    max-width: 100%;
    height: 188px;
    color: #fff;
    background-image: url(/theme/header.png);
    background-size: 1100px 188px;
}

#pubHeaderImg {
    display: block;
    min-width: 100%;
    max-width: 100%;
    flex-grow: 1;
    margin-bottom: 16px;
}

.rootlink {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    color: black;
    border: 1px solid #989898;
}

.pager-jump-container {
    display: inline-block;
    margin-top: 3px;
}

.pager-jump-container label {
    margin-right: 3px;
}

.pager-jump {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58px;
    height: 30px;
    padding: 3px 4px;
    text-align: right;
    color: #000 !important;
    border: 1px solid #c6c6c6;
    -moz-appearance: textfield;
}

.content-subtitle {
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    height: 14px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #717171;
}

.content-subtitle:not(.empty):before {
    content: 'Issue ';
}

.label .content-subtitle {
    margin-bottom: 6px;
}

.content-title {
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    height: 16px;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 2px;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.label .content-title {
    margin-bottom: 6px;
}

.read-action, .expand-action {
    margin-top: 5px;
    color: #fff;
    border: 1px solid #377f63;
    background: #7ec9b5;
    background: -webkit-gradient(linear,left top,left bottom,from(#7ec9b5),color-stop(8%,#03a77e),to(#388064));
    background: linear-gradient(to bottom,#7ec9b5 0,#03a77e 8%,#388064 100%);
}

.borrow-action.primary-action.action-button + .expand-action:not(.disabled):hover, .borrow-action.primary-action.action-button:not(.disabled):hover, .read-action.primary-action.action-button + .expand-action:not(.disabled):hover, .read-action.primary-action.action-button:not(.disabled):hover {
    background: #70b29f;
    background: -webkit-gradient(linear,left top,left bottom,from(#70b29f),color-stop(8%,#04996e),to(#2d664e));
    background: linear-gradient(to bottom,#70b29f 0,#04996e 8%,#2d664e 100%);
}

.action-button > .title-container {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.action-button {
    font-family: 'Open Sans',arial,sans-serif;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.action-button.disabled {
    cursor: default !important;
    pointer-events: none;
    color: #4d4d4d !important;
    border: 1px solid #888 !important;
    background: #f2f2f2 !important;
}

.action-button .action-title {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: -1px;
}

.expand-action.action-button .icon {
    height: 100%;
    background-image: url(/theme/expand.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px auto;
}

.sortable-placeholder {
    padding-top: 30px;
    padding-right: 0;
}

.bookmarks {
    min-height: 322px;
    padding: 28px 8px 0 !important;
    border: 0 !important;
    background-color: #efefef !important;
}

.bookmarks .cell {
    width: 202.5px;
}

.bookmarks .thumb img {
    width: 200px;
}

.bookmarks .thumb img {
    z-index: 1;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.bookmarks .content-title {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 177px;
    margin-top: 0 !important;
    padding: 14px 12px 9px 12px;
    vertical-align: bottom;
    color: #424342;
    border-top: 1px solid #eee;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.32);
    box-shadow: 0 1px 1px rgba(0,0,0,.32);
}

.bookmarks .content-subtitle {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 177px;
    margin-top: -7px !important;
    padding: 0 12px 41px;
    vertical-align: bottom;
    color: #424342;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.32);
    box-shadow: 0 1px 1px rgba(0,0,0,.32);
}

.bookmarks .empty {
    padding-bottom: 20px !important;
}

.bookmarks .content-subtitle:before {
    content: '';
}

.bookmarks .action-button {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    z-index: 3;
    width: 70px;
    height: 20px !important;
    margin-top: -36px;
    margin-left: 10px;
    padding: 0 15px 1px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #fff;
    border: 0 !important;
    border-radius: 3px;
    background: #45af8e !important;
}

.bookmarks .action-button:hover {
    background: #2b996f !important;
}

.bookmarks .read-action > .title-container {
    margin-left: -14px;
}

.read-action {
    width: 117px;
    margin-right: 2px;
}

.expand-action {
    width: 37px;
}

.bookmarks .expand-action {
    font-size: 14px;
    line-height: 22px !important;
    right: 13px;
    display: block;
    float: right;
    width: 18px !important;
    height: 22px !important;
    margin-top: -37px;
    cursor: pointer;
    border-radius: 3px;
    background: #fff !important;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.bookmarks .expand-action .icon {
    background: none;
}

.bookmarks .expand-action > .title-container {
    width: 0 !important;
    margin-left: -14px;
}

.bookmarks .expand-action .icon:before {
    font-weight: 700;
    margin-left: -8px;
    content: '•••';
    letter-spacing: 1px;
    color: #888;
}

.bookmarks .expand-action:hover .icon:before {
    color: black;
}

.bookmarks .expand-action:hover {
    background: #e6f2f2 !important;
}

.dropdownmenu {
    font-family: helvetica;
    position: absolute;
    z-index: 999;
    bottom: -94px;
    left: -20px;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 196px;
    padding: 10px;
    list-style: none;
    text-align: left;
    border: 1px solid #666;
    background-color: #fff;
    margin-block-end: 1em;
}

.bookmarks .dropdownmenu {
    font-family: 'Open Sans',Arial,sans-serif;
    bottom: -2px;
    left: -40px;
    width: 200px;
    padding: 0;
    text-transform: uppercase;
    border: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.4);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.dropdownmenu li {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    height: 30px;
    text-align: center;
    color: #000;
}

.bookmarks .dropdownmenu li {
    font-size: 12px;
    letter-spacing: .02em;
}

.dropdownmenu li a {
    display: inline-block;
    width: 100%;
    color: #000;
}

.bookmarks .dropdownmenu li a {
    color: #000 !important;
}

.dropdownmenu li:hover a {
    color: #fff;
}

.dropdownmenu li:hover {
    background-color: #518cc9;
}

.bookmarks .dropdownmenu li:hover {
    background-color: #e6f2f2;
}

.inline-rule {
    height: 1px;
    margin: 0;
    border: 0;
    background: #ddd;
}

.bookmarks .inline-rule {
    margin: 0;
    background: #eee;
}

.label .inline-rule:nth-of-type(1) {
    margin-top: 10px;
}

.bookmarks .lv2-item-progress[value] {
    position: absolute;
    z-index: 3;
    display: none;
    width: 175px;
    height: 4px;
    margin-top: 6px;
    margin-left: 13px;
    vertical-align: middle;
    border: none;
    background-color: #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#group:not(.bookmarks) .lv2-item-progress[value] {
    position: absolute;
    z-index: 3;
    display: none;
    width: 156px;
    height: 4px;
    vertical-align: middle;
    border: none;
    background-color: #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 0;
}

#group:not(.bookmarks) .lv2-item-progress{
    display: block;
    margin: 3px 0;
}

#dimoverlay {
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    visibility: hidden;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.6);
}

.popupmenu {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 25px;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    width: 865px;
    min-height: 400px;
    max-height: 700px;
    margin-top: 50vh;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
    color: black;
    background-color: #fff;
    box-shadow: 0 0 5px 4px rgba(0,0,0,.4);
    padding-top: 25px;
    padding-bottom: 25px;
}

#bookdetails, #comicdetails {
    display: none;
}

#progressbar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 0;
    background: url('/theme/progressbar.gif');
    background-repeat: no-repeat;
    background-position: -4px 0;
}

#details_close {
    font-size: 18pt;
    font-weight: 500;
    line-height: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 1px;
    padding: 11px 5px 13px;
    opacity: .5;
    border-radius: 30px;
    background-color: rgb(100,100,100);
}

#details_close:hover {
    opacity: 1;
}

#column1 {
    float: left;
    clear: both;
    width: 180px;
    height: 100%;
    margin: 0 20px;
    text-align: center;
}

#column1 #coverImg {
    position: relative;
}

#column1 .cover {
    width: 180px;
}

#column2 {
    float: left;
    width: 470px;
}

#column2 .title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #333;
}

#column2 .subtitle {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    color: #828282;
}

.item-description {
    font-size: 14px;
    line-height: 22px;
    overflow-y: auto;
    max-height: 374px;
    margin: 12px 0 0 0;
    text-align: left;
    white-space: pre-wrap;
    color: #333;
}

#column3 {
    font-size: 12px;
    float: left;
    width: 125px;
    margin: 0 20px;
}

#column3 .credits a {
    font-size: 11px;
    color: #333;
    font-weight: 400;
    line-height: 18px;
    display: block;
    text-decoration: none;
	cursor: pointer;
}

#column3 .credits a:hover {
    text-decoration: underline;
}

#column3 .title {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

#column3 .credits .icon {
    width: 125px;
    height: 125px;
}

#column3 .credits .publisher:empty {
    height: .5em;
}

#column3 .credits h3 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    margin: .5em 0;
    text-decoration: none;
    color: #333;
}

.credits dt {
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    color: #828282;
}

#column3 .credits h2 {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    margin: 0 0 .5em;
    text-decoration: none;
    color: #333;
}

#column3 .subtitle {
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    display: block;
    margin-top: 10px;
    color: #666;
}

#column3 .credits h4 {
    padding: 0 !important;
}

#column3 .credits .aboutText {
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    color: #333;
}

#column3 .new_title {
    margin: 15px 0 5px;
}

.popupmenu .detail-item-actions {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.popupmenu .read-action {
    width: 180px;
}

#column3 .rating {
    margin: 15px 0 0 0;
}

#column3 .rating .avgrating {
    float: left;
}

#column3 .rating .star-rating-control {
    display: inline-block;
    margin-top: 5px;
}

.star-rating {
    width: 20px;
    height: 20px;
    background: url(/theme/star-ratings.svg) no-repeat 0 -40px;
}

.rating-cancel, .star-rating {
    float: left;
    cursor: pointer;
    text-indent: -999em;
}

.star-rating-readonly {
    cursor: default;
}

.star-rating-on {
    background-position: 0 0;
}

.social-links {
    height: 35px;
    margin: 20px 0 0;
    padding: 6px;
    text-align: center;
    border: 1px solid #989898;
    background-color: #ededed;
    background-image: url(/theme/share.png);
    background-position: center;
    background-position-y: 0;
}

strong, b {
    font-weight: bold;
}

.unlimited-header.unlimited-v2 {
    height: 607px;
    padding: 33px 0 0 50px;
}

.unlimited-header {
    position: relative;
    height: 600px;
    margin-bottom: 10px;
    padding: 50px 0 0 50px;
    background-image: url(/theme/learn-more-banner-v2-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.unlimited-header-content .stripe-heading {
    height: 45px;
    line-height: 45px;
    margin-bottom: 58px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stripe-heading .stripe-banner-text {
    font-family: Helvetica,Arial sans-serif;
    font-size: 18px;
    margin-right: 6px;
}

.unlimited-v2 .primary-heading {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 35px;
}
.unlimited-header .primary-heading {
    font-size: 35px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 20px;
}

.unlimited-v2 .heading-content {
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 45px;
}
.unlimited-header .heading-content {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 35px;
    letter-spacing: .03em;
}

.unlimited-v2 .unlimited-header-content {
    width: 475px;
    color: #fff;
}

.unlimited-v2 .unlimited-header-content {
    width: 475px;
    color: #fff;
}

.unlimited-v2 .try-now {
    font-size: 16px;
    font-weight: lighter;
    line-height: 18px;
    list-style: none;
}

.unlimited-v2 .try-now li {
    height: 18px;
}

.lv2-row-button {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: 26px;
    margin-left: 10px;
    padding: 4px 0;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #424342;
    background: #fff;
    fill: currentColor;
    border-radius: 4px;
}

.lv2-row-button:hover {
    background-color: #e6f2f2;
}

.lv2-row-button svg {
    float: right;
    width: 13px;
    height: 13px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 4px;
}

.lv2-row-button svg path {
    fill: #424342;
}

.lv2-list-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 1px;
}

.lv2-list-title .list-count {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-left: 6px;
}

#buttonBox {
    position: absolute;
    right: 19px;
    top: 18px;
    display: block;
}

.sortable-placeholder {
    width: 166px;
    height: 275px;
    margin-bottom: 4px;
    border: 3px dashed #aaa;
}

@media only screen and (max-width: 858px) {
    #searchForm {
        display: none;
    }
}

@media only screen and (max-width: 1110px) {
    .homeRightCol {
        display: none;
    }
}

.filePage {
    min-height: 322px;
    padding: 26px 0 0 35px !important;
}

.filePage a {
    font-size: 12px;
    color: #000;
}

.filePage .icon img {
    width: 60px;
    height: 60px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.filePage .icon a:hover {
    opacity: .8;
}

.filePage .icon {
    width: 75px;
    margin-right: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.scriptPage {
    margin-top: 10px;
}

.headerSection {
    display: flex;
}

.story_arc_image {
    display: inline-block;
    margin-left: 43px;
}

.story_arc_bc_desc {
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 204px);
    max-width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
}

.story_arc_bc_desc p {
    font-size: 14px;
    line-height: 22px;
    color: #333;
}

.cmx_label {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 10px;
    color: #333;
}

#desc {
    overflow-y: auto;
    max-height: 400px;
}

.logoContainer {
    float: left;
    width: 180px;
    padding: 0 20px;
}

.headerSection .serieslogo {
    margin: 0 auto;
}

.headerSection .title {
    line-height: 22px;
    float: left;
    width: 580px;
    min-height: 175px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 55px;
    color: #333;
    border-right: 1px solid #cccbcb;
}

.headerSection .title h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 10px;
    color: #333;
}

.headerSection .title div {
    font-size: 14px;
}

.headerSection .title div p {
    display: inline;
}

.headerSection .title div p:after {
    content: ' ';
}

.disclaimer {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.publisherContainer {
    float: left;
    width: 187px;
    padding-top: 16px;
    text-align: center;
}

.publisherContainer .iconLink {
    margin: 0;
    padding: 0;
    border: 0;
}

.publisherContainer .iconLink .icon {
    width: 125px;
    height: 125px;
}

.publisherContainer .textLink {
    display: block;
    color: #666;
}

.publisherContainer .textLink .name {
    font-size: 13px;
    margin-top: 5px;
    text-decoration: underline;
}

.subscriptionBtnContainer {
    margin-top: 10px;
    text-align: center;
}

.action-button .action-title {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: -1px;
}

.action-button > .title-container {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.detail-item-actions {
    list-style: none;
}

.action-button .action-subtitle {
    font-size: 11px;
    line-height: 14px;
    display: block;
}

.tertiary-action.action-button {
    color: #4178b6;
    border: 1px solid #666;
    background: #fff;
}

.tertiary-action.action-button:not(.disabled):hover {
    background: #f2f2f2;
}

.item-metadata {
    font-size: 0;
    height: 10px;
    margin-bottom: 8px;
    text-align: center;
}