html{
    background:url('/theme/progressbar.gif');
    background-repeat: no-repeat;
    background-position: 46vw 49vh;
}

body, .topright-menu, table{
    display: none;
} 

div {
width: 150px;
border: 1px solid #000000;
}

div.icon {
word-wrap: break-word;
}