<div class="headerSection">
		<div class="logoContainer">
			<div class="serieslogo logo">
				<img id="cover" class="series-cover" width="180" height="180">
			</div>
			<div class="subscriptionBtnContainer">
                <div class="item-actions-container">
                    <ul class="detail-item-actions">
                        <li>
                            <div class="action-button-container">
                                <a id="bookmarkButton" class="action-button subscribe-action instant-checkout tertiary-action">
                                    <div class="title-container">
                                        <span class="action-title">Bookmark Series</span>
                                    </div>    
                                </a>
                            </div>                
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
			<div class="clear"></div>
		</div>
		<div class="title" style="border-right: 0;">
			<h1 class="seriesname"></h1>
            <div class="disclaimer"></div>
			<div id="desc"></div>
			<aside class="social-links"></aside>			
            <div class="clear"></div>
		</div>
</div>