#group{
    position: relative;
    margin-top: 318px !important;
}

#comicdesc{
    position: absolute;
    top: -275px;
}

#cover{
    float: left;
    width: 180px;
    padding-left: 19px;
    padding-right: 20px;
}

#bookmarkButton{
    position: absolute;
    top: 196px;
    left: 19px;
    height: 42px;
    width: 180px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans',arial,sans-serif;
    line-height: 38px;
    border: 1px solid #666;
    background: #fff;
    color: #4178b6;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#bookmarkButton:hover{
    background: #f2f2f2;
}

#textContainer{
    float: left;
    padding-top: 20px;
    padding-right: 55px;
    width: 580px;
    color: #333;
    line-height: 22px;
    height: 240px;
}

#title{
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 18px;
    color: #333;
}

#desc{
    position: absolute;
    top: 61.5px;
    font-size: 14px;
    width: 570px;
    height: 130px;
    overflow-y: auto;
    padding-right: 10px;
}

#textContainer:after{
    content: url('/theme/share.png');
    position: absolute;
    top: 205px;
    left: 220px;
    width: 580px;
    height: 47px;
    background-color: #ededed;
    border: 1px solid #989898;
}

#publisher2{
    float: left;
    width: 187px;
    text-align: center;
    padding-top: 16px;
    font-size: 13px;
    color: #666;
    text-decoration: underline;
}

#pubImg{
    height: 125px;
    width: 125px;
    margin-right: 31px;
    margin-left: 31px;
    margin-bottom: 5px;
}

#folderinfo {
    height: 0;
}