<div id="footer">
<footer>
    <div id="footer_navigation_frame">
        <div id="footer_navigation_canvas">
            <div id="footer_navigation">
                <div class="footer_navigation_column first">
                    <h3>Ubooquity</h3>
                    <ul>
                        <li><a href="http://vaemendis.net/ubooquity/">Homepage</a></li>
                        <li><a href="http://ubooquity.userecho.com/">Forum</a></li>
                    </ul>						
                </div>
                <div class="footer_navigation_column">
                    <h3>Theme</h3>
                    <ul>
                        <li><a href="https://github.com/scooterpsu/Comixology_Ubooquity_2">GitHub Page</a></li>
                        <li><a href="https://ubooquity.userecho.com/communities/1/topics/756-comixology-theme-v2-finally-released">Support Thread</a></li>
                        
                    </ul>						
                </div>
                <div class="footer_navigation_column">
                    <h3>Ways to Read</h3>
                    <ul>
                        <li><a href="https://itunes.apple.com/app/chunky-comic-reader/id663567628">Chunky Reader (iPad)</a></li>
                        <li><a href="https://itunes.apple.com/app/tireader-ebook-reader/id1276508285">tiReader (iOS)</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.sethchhim.kuboo">Kuboo - Ubooquity Client (Android)</a></li>
                        <li><a href="https://www.moondownload.com/">Moon+ Reader (Android)</a></li>
                    </ul>						
                </div>
                <div class="footer_navigation_column">
                    <h3>Settings</h3>
                    <form id="footerSettings" method="POST" action="">
                        <label>Grouping: <select name="grouping" onchange="this.form.submit()">
                            <option value="folder">Folder</option>
                            <option value="flat">None</option>
                        </select></label>
                        <label>Sort by: <select name="sortingCriterion" onchange="this.form.submit()">
                            <option value="path">Name</option>
                            <option value="date">Date</option>
                        </select>
                        <select name="sortingOrder" onchange="this.form.submit()">
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select></label>
                        <label>Theme Variant: <select name="themeSelector" onchange="switchTheme(this.value);">
                            <option value="default">Default</option>                        
                        </select></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="legal_notices">
        <div id="copyright_notice">© 2019 ScooterPSU. <a href="http://vaemendis.net/ubooquity/">Powered by Ubooquity</a></div>		
    </div>
</footer>
</div>